<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fbd.core.app.huiyuan.model.CreatePersonalMemberMapper" >
  <resultMap id="BaseResultMap" type="com.fbd.core.app.huiyuan.model.CreatePersonalMember" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="VARCHAR" />
    <result column="career" property="career" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
     <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, email, uid, id_card_no, real_name, member_name, is_active, career, user_id,member_id,parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from create_personal_member
    where id = #{id,jdbcType=VARCHAR}
  </select>
   <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from create_personal_member
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from create_personal_member
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fbd.core.app.huiyuan.model.CreatePersonalMember" >
    insert into create_personal_member (id, mobile, email, 
      uid, id_card_no, real_name, 
      member_name, is_active, career, 
      user_id,member_id,parent_id)
    values (#{id,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR}, #{idCardNo,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{isActive,jdbcType=VARCHAR}, #{career,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fbd.core.app.huiyuan.model.CreatePersonalMember" >
    insert into create_personal_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="idCardNo != null" >
        id_card_no,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="career != null" >
        career,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fbd.core.app.huiyuan.model.CreatePersonalMember" >
    update create_personal_member
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null" >
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        career = #{career,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fbd.core.app.huiyuan.model.CreatePersonalMember" >
    update create_personal_member
    set mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=VARCHAR},
      career = #{career,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectPersonalMemberIsRegister" resultType="java.lang.Integer"  parameterType="com.fbd.core.app.huiyuan.model.CreatePersonalMember">
   select count(1) from create_personal_member where mobile= #{mobile,jdbcType=VARCHAR}
</select>
</mapper>
