<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fbd.core.app.auth.model.UserRoleModelMapper" >
  <resultMap id="BaseResultMap" type="com.fbd.core.app.auth.model.UserRoleModel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, role_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectUserByRoleId" resultType="java.util.Map" parameterType="java.lang.String" >
    select 
     a.admin_id as adminId,
     a.real_name as realName,
     a.employee_no as employeeNo,
     a.mobile
    from user_role ur 
         left join admin a on a.id=ur.user_id
    	 left join role r on r.id=ur.role_id
    where r.code = #{roleCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from user_role
    where user_id = #{user_id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.fbd.core.app.auth.model.UserRoleModel" >
    insert into user_role (id, user_id, role_id
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <!-- 批量插入 -->
  <insert id="saveRole4User" parameterType="java.util.List">
	insert into user_role (id,user_id,role_id) 
	values
	<foreach collection="list" item="item" index="index" separator="," >
		(#{item.id},#{item.userId},#{item.roleId})
	</foreach>
   </insert>
  
  
  <insert id="insertSelective" parameterType="com.fbd.core.app.auth.model.UserRoleModel" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fbd.core.app.auth.model.UserRoleModel" >
    update user_role
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fbd.core.app.auth.model.UserRoleModel" >
    update user_role
    set user_id = #{userId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>